
:root{
    --background-color: #1c1c1c;
    --font: #515151;
    --button-color: #2AD386;
    --link: #0060FF;
    --visited-link: #7e0280;
    --error: #FF0000;
    --card: #515151;
}

/* HEADER */

header{
    background-color: var(--background-color);
}
header ul{
    margin-left: 300px;
}
header ul li{
    font-size: 20px;
    margin: 20px;
}
header ul li a:hover{
    text-decoration: underline;
    color: var(--button-color)!important;
}


/* MAIN */
main{
    background-color: var(--background-color);
}
.overview h2{
    font-size: 50px;
}
.overview img{
    width: 1280px;
    height: 640px;
    border-radius: 20px;
}
.overview p{
    font-size: 20px;
}
.overview p a{
    text-decoration: underline;
    color: blue!important;
}

.leader h2{
    margin-top: 50px;
    font-size: 50px;
}
main .leader-text{
    background-color: var(--card);
    width: 420px;
}
