
:root{
    --background-color: #1c1c1c;
    --font: #515151;
    --button-color: #2AD386;
    --link: #0060FF;
    --visited-link: #7e0280;
    --error: #FF0000;
    --card: #515151;
}

.location-button{
    background-color: var(--card);
    border: 0;
}
.company .line{
    margin-top: -30px;
    margin-bottom: 30px;
}
footer{
    background-color: var(--card);
    overflow-x: hidden;
    padding: 20px 50px;
}