*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #1c1c1c;
    --font: #515151;
    --button-color: #2AD386;
    --link: #0060FF;
    --visited-link: #7e0280;
    --error: #FF0000;
    --card: #515151;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

nav a{
    color: white!important;
    text-decoration: none;
}