@media(max-width:991px){
    :root{
        --background-color: #1c1c1c;
        --font: #515151;
        --button-color: #2AD386;
        --link: #0060FF;
        --visited-link: #7e0280;
        --error: #FF0000;
        --card: #515151;
    }
    
    body{
        background-color: var(--background-color);
    }
    
    
    /* fresh reccomendations */
     
    .fresh-reccomendations{
        padding: 100px 0;
    }
}