:root{
    --background-color: #1c1c1c;
    --font: #515151;
    --button-color: #2AD386;
    --link: #0060FF;
    --visited-link: #7e0280;
    --error: #FF0000;
    --card: #515151;
}



/* MAIN */

main{
    background-color: #1c1c1c;
    padding: 40px;
}

.product-carousel .col-4:nth-child(2){
    margin-top: 50px;
    margin-bottom: 60px;
}
.product-carousel .col-4 img{
    border-radius: 8px;
}
.carousel img{
    border-radius: 8px;
}

/* DESCRIPTION */

.description{
    padding-top: 50px;
    color: white;
}
.description ul{
    list-style: none;
}
.description .col-12 ,  .description .col-12{
    border-radius: 8px;
}
.description-content-left .col-12{
    background-color: #515151;
    margin-left: 14%;
    max-width: 660px;
}
.description-content-right{
    margin-left: 14%;
    margin-top: 20px;
}
.description-content-right .col-12{
    background-color: #515151;
    width: 660px;
}
.description-user-details img{
    height:68px;
}
.description .col-with-map{
    height: 31.5%;
}
.description .col-with-address{
    height: 42%;
}